/* static/css/bulletin_board_style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form.delete-form {
    margin-left: 10px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #d9534f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #c9302c;
}

.action-button,
.back-link {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.action-button {
    background-color: #5bc0de;
    color: white;
}

.action-button:hover {
    background-color: #46b8da;
}

.back-link {
    background-color: #333;
    color: white;
}

.back-link:hover {
    background-color: #2c2c2c;
}
