<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Home Page</h1>
        <p>アプリケーションリスト：</p>
        <nav class="app-list">
            <a href="{{ url_for('todo_list') }}" class="app-link">ToDo List</a>
            <a href="{{ url_for('memo') }}" class="app-link">Memo App</a>
            <a href="{{ url_for('number_guessing') }}" class="app-link">Number Guessing Game</a>
            <a href="{{ url_for('bulletin_board') }}" class="app-link">Bulletin Board</a>
        </nav>
    </div>
</body>
</html>
